//----------------------------------------------
// Media
//----------------------------------------------
img, svg, figure, picture, object, embed, iframe, video {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;

  visibility: hidden;
  opacity: 0;
  transition: opacity 800ms ease-in-out;

  &.fade-in {
    visibility: visible;
    opacity: 1;
  }
}

//----------------------------------------------
// Absolute background
//----------------------------------------------
// .absolute-bg {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: $z-0;

//   height: 100%;
//   width: 100%;

//   background-position: 50%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   overflow: hidden;
// }
