//----------------------------------------------
// Headers
//----------------------------------------------
h1, h2 {
  margin: {
    top: 0;
    bottom: 0;
  }

  font-family: $font-header;
  font-weight: 400;
}

//----------------------------------------------
// H1 theme
//----------------------------------------------
h1, %font-h1 {
  $fontSize: 4.75em;

  font-size: $fontSize - 1.25em;
  line-height: 1.1;

  @media (min-width: $mq-small) {
    font-size: $fontSize;
  }

  @media (min-width: $mq-med) {
    font-size: $fontSize + 0.25em;
  }

  @media (min-width: $mq-xlarge) {
    font-size: $fontSize + 0.5em;
  }
}

//----------------------------------------------
// H2 theme
//----------------------------------------------
h2, %font-h2 {
  $fontSize: 2.5em;

  font-size: $fontSize - 0.5em;
  line-height: 1.1;

  @media (min-width: $mq-med) {
    font-size: $fontSize;
  }

  @media (min-width: $mq-xlarge) {
    font-size: $fontSize + 0.25em;
  }
}

//----------------------------------------------
// Paragraphs
//----------------------------------------------
p {
  margin: {
    top: 0;
    bottom: 0;
  }
}

//----------------------------------------------
// Misc
//----------------------------------------------
address {
  font-style: normal;
}

//----------------------------------------------
// Selection
//----------------------------------------------
::selection {
  color: $color-beta;
  background: $color-alpha;
  text-shadow: none;
}
