//----------------------------------------------
// Details
//----------------------------------------------
.details {
  &.section-padding {
    padding: {
      top: 0;
      // bottom: 0;
    }
  }

  @media (min-width: $mq-med) {
    display: flex;
    flex-wrap: wrap;
  }

  &__subcontainer {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @media (min-width: $mq-med) {
      flex-basis: 50%;
      max-width: 50%;
    }

    @media (min-width: $mq-large) {
      display: flex;
      justify-content: center;
      flex-basis: 1 / 3 * 100%;
      max-width: 1 / 3 * 100%;
      margin-bottom: 0;
    }
  }

  &__address {
    margin: {
      top: 1em;
      bottom: 1em;
    }

    a,
    span {
      display: block;
      font-size: 1.25em;
    }

    a {
      margin-bottom: 0.25em;

      &:before {
        bottom: 0.125rem;
      }
    }
  }

  &__time {
    font-weight: 700;
  }

  &__link {
    @include link-underline(2px, $color-alpha);

    &:before {
      bottom: -0.125rem;
    }
  }
}
