//----------------------------------------------
// Images
//----------------------------------------------
.images {
  &__container {
    margin-bottom: 1em;

    @media (min-width: $mq-med) {
      display: flex;
    }

    & > figure {
      &:first-child {
        @media (min-width: $mq-med) {
          margin-right: 0.5em;
        }
      }

      &:last-child {
        @media (min-width: $mq-med) {
          margin-left: 0.5em;
        }
      }
    }
  }
}
