//----------------------------------------------
// Images
//----------------------------------------------
.images {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  & > figure {
    visibility: hidden;
    opacity: 0;

    &.js-visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
