//----------------------------------------------
// Images
//----------------------------------------------
.images {
  &__container {
    margin-bottom: 1em;

    @media (min-width: $mq-med) {
      display: flex;
    }

    & > figure {
      &:first-child {
        margin-bottom: 1em;

        @media (min-width: $mq-med) {
          margin: {
            right: 0.5em;
            bottom: 0;
          }
        }
      }

      &:last-child {
        @media (min-width: $mq-med) {
          margin-left: 0.5em;

          img {
            transition-delay: 200ms;
          }
        }
      }
    }

    &--reverse {
      @media (min-width: $mq-med) {
        flex-direction: row-reverse;
      }

      & > figure {
        &:first-child {
          @media (min-width: $mq-med) {
            margin: {
              right: 0;
              left: 0.5em;
            }

            img {
              transition-delay: 200ms;
            }
          }
        }

        &:last-child {
          @media (min-width: $mq-med) {
            margin: {
              right: 0.5em;
              left: 0;
            }

            img {
              transition-delay: 0s;
            }
          }
        }
      }
    }
  }

  &__link-container {
    margin-bottom: 4em;
    text-align: center;

    @media (min-width: $mq-small) {
      margin-bottom: 6em;
    }

    @media (min-width: $mq-med) {
      margin-bottom: 8em;
    }

    @media (min-width: $mq-xlarge) {
      margin-bottom: 10em;
    }
  }

  &__link {
    @include link-underline(4px, $color-alpha);
    @extend %font-h1;
  }
}
