//----------------------------------------------
// Mast
//----------------------------------------------
.mast {
  &__img {
    margin: {
      top: 1em;
      bottom: 1em;
    }

    @media (min-width: $mq-small) {
      margin: {
        top: 2em;
        bottom: 2em;
      }
    }

    @media (min-width: $mq-med) {
      margin: {
        top: 3em;
        bottom: 3em;
      }
    }

    @media (min-width: $mq-large) {
      margin: {
        top: 4em;
        bottom: 4em;
      }
    }

    @media (min-width: $mq-xlarge) {
      margin: {
        top: 5em;
        bottom: 5em;
      }
    }
  }

  &__container {
    @media (min-width: $mq-med) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__subcontainer {
    @media (min-width: $mq-med) {
      flex-basis: 50%;
      max-width: 50%;
    }

    @media (min-width: $mq-large) {
      display: flex;
      justify-content: center;
      flex-basis: 1 / 3 * 100%;
      max-width: 1 / 3 * 100%;
    }
  }

  &__address {
    margin: {
      top: 1em;
      bottom: 1em;
    }

    font-style: normal;

    span {
      display: block;
      font-size: 1.25em;

      &:first-child {
        font-weight: 700;
      }
    }
  }

  &__link {
    font-weight: 700;
  }

  &__time {
    font-weight: 700;
  }
}
