//----------------------------------------------
// Mast
//----------------------------------------------
.mast {
  &__img {
    margin-top: 1em;

    @media (min-width: $mq-small) {
      margin-top: 2em;
    }

    @media (min-width: $mq-med) {
      margin-top: 3em;
    }

    @media (min-width: $mq-large) {
      margin-top: 4em;
    }

    @media (min-width: $mq-xlarge) {
      margin-top: 5em;
    }
  }
}
