//----------------------------------------------
// Party
//----------------------------------------------
.party {
  // &.section-padding {
  //   padding: {
  //     top: 0;
  //     bottom: 0;
  //   }
  // }

  .sep {
    margin: {
      top: 3em;
      bottom: 3em;
    }
  }

  &__container {
    & > div {
      &:not(:last-child) {
        margin-bottom: 1.5em;
      }
    }
  }

  &__title {
    font-weight: 700;
  }

  &__text {
    font-family: $font-header;
    font-size: 1.5em;
  }
}
