//--------------------------------------------
// Colors
//--------------------------------------------
.bg-alpha {
  background-color: $color-alpha;
}

.bg-beta {
  background-color: $color-beta;
}

//--------------------------------------------
// Sections
//--------------------------------------------
section {
  position: relative;
}

.section-padding {
  padding: 4em 1em;

  @media (min-width: $mq-small) {
    padding: 6em 3em;
  }

  @media (min-width: $mq-med) {
    padding: 8em 4em;
  }

  @media (min-width: $mq-xlarge) {
    padding: 10em 5em;
  }
}

// .section-header {
//   overflow: hidden;

//   span {
//     // @include nth-transition-delay();

//     display: inline-block;

//     // opacity: 0;
//     // transform: translate3d(0, 100%, 0);
//     // transition-property: opacity, transform;
//     // transition-duration: 1s;
//     // transition-timing-function: ease-in-out;
//   }

//   // &.aos-animate {

//   //   span {
//   //     opacity: 1;
//   //     transform: translate3d(0, 0, 0);
//   //   }
//   // }
// }

//--------------------------------------------
// Grid
//--------------------------------------------
.grid {
  @extend %auto-margin;

  max-width: $max-width;

  @media (min-width: $mq-med) {
    width: 55%;
  }

  @media (min-width: $mq-xlarge) {
    width: 50%;
  }
}

// .grid-large {
//   @extend %auto-margin;

//   max-width: $max-width--lg;

//   @media (min-width: $mq-med) {
//     width: 80%;
//   }

//   @media (min-width: $mq-xlarge) {
//     width: 65%;
//   }
// }
