//--------------------------------------------
// Colors
//--------------------------------------------
.bg-alpha {
  background-color: $color-alpha;
}

//--------------------------------------------
// Sections
//--------------------------------------------
section {
  position: relative;
}

.section-padding {
  padding: 4em 1em;

  @media (min-width: $mq-small) {
    padding: 6em 3em;
  }

  @media (min-width: $mq-med) {
    padding: 8em 4em;
  }

  @media (min-width: $mq-xlarge) {
    padding: 10em 5em;
  }
}

.section-padding--horiz {
  padding: {
    right: 1em;
    left: 1em;
  }

  @media (min-width: $mq-small) {
    padding: {
      right: 3em;
      left: 3em;
    }
  }

  @media (min-width: $mq-med) {
    padding: {
      right: 4em;
      left: 4em;
    }
  }

  @media (min-width: $mq-xlarge) {
    padding: {
      right: 5em;
      left: 5em;
    }
  }
}

//--------------------------------------------
// Grid
//--------------------------------------------
.grid {
  @extend %auto-margin;

  max-width: $max-width;

  @media (min-width: $mq-med) {
    width: 55%;
  }

  @media (min-width: $mq-xlarge) {
    width: 50%;
  }
}
