//----------------------------------------------
// Auto Margin
//----------------------------------------------
%auto-margin {
  margin: {
    right: auto;
    left: auto;
  }
}

//----------------------------------------------
// Text Center
//----------------------------------------------
%text-center {
  text-align: center;
}
